.strana {
    max-width: 600px;
    margin: auto;
}

p, h1 {
font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.pole img {
    max-width: 100%;
}

.sachovnice {
    display: grid;
    grid-area: auto;
    width: 100%;
    max-width: 582px;
    grid-template-columns: repeat(8, 72.75px);
    grid-template-rows: repeat(8, 72.75px);
    background-image: url(obrazky/sachovnice.png);
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    border: 9px rgb(39, 8, 8) solid;
    border-radius: 10px;
}

.pesec-bila, .kun-bila, .pesec-cerna, .strelec-cerna, .vez-cerna, .kral-cerna, .kral-bila {
    width: 100%;
}


strong {
    font-size: 20px;
}

.hraci {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.adela, .honza {
    border-radius: 15%;
    height: 75px;    
    width: 75px;
    object-fit: cover;  
}

.popis {
    margin: 18px 10px 18px 10px;    
}

.hrachonza {
    width: 50% ;
    height: 75px;
    display: inline-flex;
    text-align: left;
}

.hracadela {
    width: 50% ;
    height: 75px;
    display: inline-flex;
    justify-content: flex-end;
    text-align: right;
}

.vyherce {
    text-align: center;
    font-size: 25px;
}

.tlacitko {
    text-align: center;
    color: white;
    border: 1px black solid;
    border-radius: 8%;
    width: 100px;
    padding: 6px;
    margin: auto;
    background-color: rgb(81, 107, 179);
}

